
html, body {
  overflow-x: hidden;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h1 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
}

img {
  width: 185px;
  height: auto;
}
.blue-bg {
  position: fixed;
  background-image: url(../Bilder/Panting_av_saftflaske.jpg);
  background-size: cover;
  background-color: #58aff6;
  top: 0;
  height: 400px;
  width: 100vw;
  z-index: -1;
  overflow-x: hidden;
  margin-left: -0.6%;
}

.white-bg {
  position: absolute;
  top: 0;
  background-color: #fff;
  min-height: 500px;
  margin: 210px 0px;
  width: 100vw;
  height: 50vh;
  transform: skewY(0deg);
  z-index: -1;
  margin-left: -0.6%;
}

.content{
  position: absolute;
  top: 0;
  margin: 30vh 20vw;
  max-width: 100vw;
  background-color: transparent;
}    

.shadow {
  box-shadow: -2px -5px 5px 0px rgba(0,0,0,0.3)
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0px 0px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s;
  background-color: #a65050;
  margin: 10px;
  border: 0px solid #b1a37c;
}

.navbar a:hover {
  background-color: #575757;
  border: 5px solid #000000;
  transition: all 0.4s ease;
}

/* Stil for den aktive linken */
.navbar .active {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s;
  background-color: #552b2b;
  margin: 10px;
}



.logo {
  margin-left: 85%;
}

.nav-links {
  display: flex;
}